name: CD

on:
  pull_request:
    [ master ]
  paths-ignore:             
      - README.md

jobs:
  Deploy:
    needs: run-tests
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    steps:
      - name: deploy the artifacts
        uses: actions/deploy-pages@v4
    
    
